<a href="https://colab.research.google.com/github/Ayosalau/Simple-Linear-Regression-Using-Python/blob/main/PythonUsingPandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
var5 = ['I', 'love', 'data', 'science']
print(var5)

['I', 'love', 'data', 'science']

In [ ]:
var5 = ['I', 'love', 'data', 'science']
print(var5[0])

I

In [ ]:
algorithm = ['Linear Regression', 'Logistic Regression', 'RandomForest', 'a3c']
learning = ['supervised', 'unsupervised', 'supervised', 'reinforced']
algorithm_type = ['Regression', 'Classification',  'Regression or Classification', 'Game AI']
algorithm.append('k-means')
print (algorithm)
learning.append('supervisedunsupervised')
print (learning)
algorithm_type.append('clustering')
print (algorithm_type)
machine_learning = {}
machine_learning ['algorithm'] = algorithm
print (machine_learning)
machine_learning ['learning'] = learning
print (machine_learning)
machine_learning ['algorithm_type'] = algorithm_type
print (machine_learning)
algorithm.remove('a3c')
print (algorithm)
print (machine_learning['algorithm'])
learning.remove('reinforced')
print (learning)

['Linear Regression', 'Logistic Regression', 'RandomForest', 'a3c', 'k-means']
['supervised', 'unsupervised', 'supervised', 'reinforced', 'supervisedunsupervised']
['Regression', 'Classification', 'Regression or Classification', 'Game AI', 'clustering']
{'algorithm': ['Linear Regression', 'Logistic Regression', 'RandomForest', 'a3c', 'k-means']}
{'algorithm': ['Linear Regression', 'Logistic Regression', 'RandomForest', 'a3c', 'k-means'], 'learning': ['supervised', 'unsupervised', 'supervised', 'reinforced', 'supervisedunsupervised']}
{'algorithm': ['Linear Regression', 'Logistic Regression', 'RandomForest', 'a3c', 'k-means'], 'learning': ['supervised', 'unsupervised', 'supervised', 'reinforced', 'supervisedunsupervised'], 'algorithm_type': ['Regression', 'Classification', 'Regression or Classification', 'Game AI', 'clustering']}
['Linear Regression', 'Logistic Regression', 'RandomForest', 'k-means']
['Linear Regression', 'Logistic Regression', 'RandomForest', 'k-means']
['supervised', 'unsupervised', 'supervised', 'supervisedunsupervised']

In [ ]:
import pandas as pd
pd.read_csv('https://raw.githubusercontent.com/PacktWorkshops/The-Data-Science-Workshop/master/Chapter01/Dataset/csv_example.csv')
pd.read_excel('https://github.com/PacktWorkshops/The-Data-Science-Workshop/blob/master/Chapter01/Dataset/excel_example.xlsx?raw=true')
pd.read_json('https://raw.githubusercontent.com/PacktWorkshops/The-Data-Science-Workshop/master/Chapter01/Dataset/json_example.json')

             algorithm      learning                          type
0    Linear Regression    Supervised                    Regression
1  Logistic Regression    Supervised                Classification
2         RandomForest    Supervised  Regression or Classification
3              k-means  Unsupervised                    Clustering

In [ ]:
{
    "algorithm": {
        "0": "Linear Regression",
        "1": "Logistics Regression",
        "2": "Random Forest",
        "3": "K-Means"
                },
    "Learning": {
        "0": "supervised",
        "1": "supervised",
        "2": "supervised",
        "3": "unsupervised"
                },
    "type": {
        "0": "Regression",
        "1": "Classification",
        "2": "Regression and Classification",
        "3": "Clustering"
    }
}

{'Learning': {'0': 'supervised',
  '1': 'supervised',
  '2': 'supervised',
  '3': 'unsupervised'},
 'algorithm': {'0': 'Linear Regression',
  '1': 'Logistics Regression',
  '2': 'Random Forest',
  '3': 'K-Means'},
 'type': {'0': 'Regression',
  '1': 'Classification',
  '2': 'Regression and Classification',
  '3': 'Clustering'}}

In [ ]:
import pandas as pd
csv_url = 'https://raw.githubusercontent.com/PacktWorkshops/The-Data-Science-Workshop/master/Chapter01/Dataset/overall_topten_2012-2013.csv'
csv_pf = pd.read_csv(csv_url, skiprows=1)
csv_pf

   Number  ...  Number of Applications
0       1  ...                    1069
1       2  ...                    1037
2       3  ...                     821
3       4  ...                     816
4       5  ...                     530
5       6  ...                     479
6       7  ...                     383
7       8  ...                     351
8       9  ...                     344
9      10  ...                     335

[10 rows x 4 columns]

In [ ]:
import pandas as pd
tsv_url = 'https://raw.githubusercontent.com/PacktWorkshops/The-Data-Science-Workshop/master/Chapter01/Dataset/overall_topten_2012-2013.tsv'
tsv_pf = pd.read_csv(tsv_url, skiprows=1, sep='\t')
tsv_pf

   Number  ...  Number of Applications
0       1  ...                    1069
1       2  ...                    1037
2       3  ...                     821
3       4  ...                     816
4       5  ...                     530
5       6  ...                     479
6       7  ...                     383
7       8  ...                     351
8       9  ...                     344
9      10  ...                     335

[10 rows x 4 columns]

In [ ]:
import pandas as pd
xlsx_url = 'https://github.com/PacktWorkshops/The-Data-Science-Workshop/blob/master/Chapter01/Dataset/overall_topten_2012-2013.xlsx?raw=true'
xlsx_pf = pd.read_excel(xlsx_url, skiprows = 1, sheet_name=1)
xlsx_pf

   Number  ...  Number of Applications
0       1  ...                    1069
1       2  ...                    1037
2       3  ...                     821
3       4  ...                     816
4       5  ...                     530
5       6  ...                     479
6       7  ...                     383
7       8  ...                     351
8       9  ...                     344
9      10  ...                     335

[10 rows x 4 columns]

In [ ]:
from sklearn.dataset import load_breast_cancer
features, target = load_breast_cancer(return_X_y=true)
print (features)

ModuleNotFoundError: ignored